{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": [2, {"props": false}],
    "prefer-arrow-callback": 0,
    "newline-per-chained-call": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never",
    }]
  },
  "plugins": [
    "json"
  ]
}
